<section class="myself">
    <img src="https://sun9-east.userapi.com/sun9-74/s/v1/ig2/bcxMtEkhGrVaXmqcNTdnakB6T7Eh3XY6TGcxrEWKxkVj928Y2kCjxJ4vcfD8Eq9nI9o5fD90Uor5EWnhtIqEIkkN.jpg?size=564x1003&quality=96&type=album"
         alt="my face" class="myself__image">
    <div class="myself__content">
        <h1 class="myself__title">
            Hello, I am Sergey Khudiakov! This is my page
        </h1>
        <p class="myself__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias
            aliquid asperiores autem consequuntur, dolor labore maxime molestiae, molestias,
            nisi omnis possimus quaerat quibusdam quo repellat sapiente sequi tenetur! Praesentium
        </p>
    </div>
</section>
